{% extends "layout/base.html" %}

{% block content %}
<div id="top" class="container marketing">
    
    <!-- START THE FEATURETTES -->
    
    <div class="row">
        <div class="col-md-12">


    
          <div class="col-md-12">    
            <p>
            <center>
            <h1>Should I Kick or Should I GoGo?</h1>
            </p>
          </div>
        </div>

        <div id="wrap">
        <p class="lead">
          <h3>
          Tell me a little about your campaign below, and I'll predict your future:
        </h3>
        </p>
        </div>
    </div>

    <div class ="row">
      <div class="row">
        <div class="col-md-4">

        <form role="form" class="inline-form" method="POST" action = "/predict">

          <div class="form-group">
          <label for="input-name" class="col-md-20 control-label">Catchy Title:</label>
            <div class="col-md-20">
            <input type="text" name="input-name" id="projects" class="form-control input-medium"  placeholder="Bartendro: A cocktail dispensing robot!" value = "Bartendro: A cocktail dispensing robot!">
            </div>   
          </div>
          <div class="form-group">
          <label for="category" class="col-md-20 control-label">Category:</label>
            <div class="col-md-20">
            <select name="category" id="category" class="form-control input-medium">
                <option value="1" >Art</option>
                <option value="2"selected>Technology</option>
                <option value="3">Music</option>
                <option value="4">Fashion</option>
                <option value = "5">Games</option>
            </select>
            </div>   
          </div>

          <div class="form-group">
          <label for="duration" class="col-md-20 control-label">Project Duration (Days):</label>
            <div class="col-md-20">
            <input type="text" name="duration" id="projects" class="form-control input-medium"  placeholder="30" value = "30">
            </div>   
          </div>

          <div class="form-group">
         <label for "goal" class="col-md-20 control-label">Funding Goal:</label>
           <div class="col-md-20">
            <select name="goal" id="projects" class="form-control input-medium">
              <option value="100" >100</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
                <option value="5000">5000</option>
                 <option value="10000" >10000</option>
                <option value="15000">15000</option>
                <option value="25000"selected>25000</option>
                <option value="50000">50000</option>
                <option value = "100000">100000</option>
                <option value = "500000">500000</option>
              </select>
            </div>   
          </div>

           <div class = "form-group">
          <label for "fbcon" class="col-md-20 control-label">Will you connect to Facebook?</label>
            <input type="checkbox" name="fbcon" value="1" checked>Yes
            <input type="checkbox" name="fbcon" value="0" > No
          </div>

          <div class="fbfriends">
          <label for="fbfriends" class="col-md-20 control-label">Number of Facebook friends:</label>
            <div class="col-md-20">
            <input type="text" name="fbfriends" id="projects" class="form-control input-medium"  placeholder = "500" value="500" >
            </div>   
          </div>
      

    </div>

      <div class="col-md-4">
     
          <div class="form-group">
          <label for="n_vids" class="col-md-20 control-label">How many cool videos do you have?</label>
            <div class="col-md-20">
            <select name="nvids" id="nvids" class="form-control input-medium">
              <option value="1" >1</option>
                <option value="2"selected>2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
              </select>
            </div>   
          </div>
          <div class="form-group">
          <label for="n_pics" class="col-md-20 control-label">How many pretty pictures?:</label>
            <div class="col-md-20">
            <select name="npics" id="npics" class="form-control input-medium">
              <option value="1" >1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                 <option value="5"selected>5</option>
                <option value="6">6</option>
                 <option value="7">7</option>
                <option value="8">8</option>
                 <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>   
          </div>

          <div class="form-group">
          <label for="nlinks" class="col-md-20 control-label">Links to other related sites?:</label>
            <div class="col-md-20">
            <select name="nlinks" id="nlinks" class="form-control input-medium">
              <option value="1" >1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4"selected>4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                 <option value="7">7</option>
                <option value="8">8</option>
                 <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>   
          </div>

          <div class="form-group">
          <label for="perks" class="col-md-20 control-label">How many different perks will you offer?:</label>
            <div class="col-md-20">
            <select name="perks" id="perks" class="form-control input-medium">
                <option value="1">1</option>
                <option value="5">5</option>
                <option value="10"selected>10</option>
                <option value="20">20</option>
            </select>

            </div>   
          </div>

           <div class = "form-group">
          <label for "tshirt" class="col-md-20 control-label">Can I get a tshirt?</label>
            <input type="checkbox" name="tshirt" value="1" checked>Yes
            <input type="checkbox" name="tshirt" value="0">No 
          </div>

          <div class="form-group">
          <label for="bodylen" class="col-md-20 control-label">How long is your story?:</label>
             <select name="bodylen" id="bodylen" class="form-control input-medium">
                <option value="250">250 words</option>
                <option value="500">500 words</option>
                <option value="1000" >1000 words</option>
                <option value="2000"selected>2000 words</option>
                <option value = "3000">3000 words</option>
            </select> 
          </div>
</div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
         <br>
        <br>
        <br>
         <div class="col-md-3">
          <center>
          <button type="submit" class="btn btn-xlarge btn-success" style="height:40px">Hit me!</button>
          </div>
     

      </div>
    </div>  
  
     
     <!-- DISPLAY SOME INFORMATION -->
</form>

           








  <!-- </div> -->
{% endblock %}


{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
