{% extends "layout/base.html" %}

{% block content %}
<div id="top" class="container marketing">
    
    <!-- START THE FEATURETTES -->
    
    <div class="row">
        <div class="col-md-12">


    
          <div class="col-md-12">    
            <p>
            <center>
            <h1>Should I Kick or Should I GoGo?</h1>
            </p>
        </div>
    </div>

    <div id="wrap">
        <p class="lead">
          Tell me a little about your campaign below, and I'll predict your future:
        </p>
    </div>
    
    <div class ="row">
      <div class="row">
        <div class="col-md-4">

        <form role="form" class="inline-form" method="POST" action = "/predict">

          <div class="form-group">
          <label for="input-name" class="col-md-20 control-label">Catchy Title:</label>
            <div class="col-md-20">
            <input type="text" name="input-name" id="projects" class="form-control input-medium"  placeholder="Cants! They're Pants for Cats!" >
            </div>   
          </div>

          <div class="form-group">
          <label for="category" class="col-md-20 control-label">Category:</label>
            <div class="col-md-20">
            <input type="text" name="category" id="projects" class="form-control input-medium"  placeholder="Art" >
            </div>   
          </div>

          <div class="form-group">
          <label for="duration" class="col-md-20 control-label">Project Duration (Days):</label>
            <div class="col-md-20">
            <input type="text" name="duration" id="projects" class="form-control input-medium"  placeholder="30" >
            </div>   
          </div>

          <div class="form-group">
          <label for="goal" class="col-md-20 control-label">Project Goal:</label>
            <div class="col-md-20">
            <input type="text" name="goal" id="projects" class="form-control input-medium"  placeholder="1000" >
            </div>   
          </div>

          <div class="fbfriends">
          <label for="fbfriends" class="col-md-20 control-label">Number of Facebook friends:</label>
            <div class="col-md-20">
            <input type="text" name="fbfriends" id="projects" class="form-control input-medium"  placeholder="0" >
            </div>   
          </div>


          <div class="col-md-offset-2 col-md-10">
          <button type="submit" onclick = "showPreds()" class="btn btn-large btn-success" style="height:40px">Hit me!</button>
          </div>
        </div>
     </div> 
   </form>

  <div class="row">
      <div class="col-md-4">

      
        </div>

      </div>
    </div>  
            <!-- DISPLAY SOME INFORMATION -->
<script>
function showPreds(){
  document.getElementById("despfriends").innerHTML=request.fbfriends;
}
</script>
<p id = "despfriends"></p>

           








  <!-- </div> -->
{% endblock %}


{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
