{% extends "layout/base.html" %}

{% block head %}
  <link href="{{ url_for('static', filename='css/predict.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
  
    <div class="row">
        
            <br>
            <br>
            <br>
            <br>
   </div>
   <div class="row">
       <div class="col-md-12">    
       <font size=40>
        <center>
          Results!
        </center>
      </font>
        </div>
    </div>
    <div class = "row">

      <div class ="col-md-4">
        <br><br>
              </div>

      <div class ="col-md-4">
        <center>
          <br>
          <br>
           <br>
          <br>
           <br>
          <br>
           <img src="/static/images/kickstarter_logo.png" width=300px> <br>
        </center>
      </div>

        <div class="col-md-4">
          <center>
            
        <img src="/static/images/indiegogo_logo1.png" width=300px>
          <br>
          
        </font>
        </center>
        </div>


      </div>
<div class = "row">
  <br><br><br>
</div>
      <div class = "row">

        <div class = "col-md-4" align="right">
    
          <font size = 6>
        Probability of acheiving funding goal:
      </center>
</div> 

        <div class = "col-md-4">
            <center>
          {{(100*kickwin)|round(1)}}%
       </div>

       <div class = "col-md-4">
          <center>
         {{(100*indiewin)|round(1)}}%
      </div>

    </div>

     
<div class ="row">
  <center>
<div class = "col-md-4" align="right">
  <br><br>
  Predicted funding: 
</div>
          <div class="col-md-4">
             <font size=6>
             <br>
        <br>
            ${{(indiecash)|round(2)}}!
            <br>
            <button type="submit" action = "/more", class="btn btn-large btn-success" style="height:40px">Optimize This!</button>
          </div>
          <div class = "col-md-4">
             <br>
        <br>
            ${{(kickcash)|round(2)}}!
              <br>
            <center>
          <button type="submit" action = "/more", class="btn btn-large btn-success" style="height:40px">Optimize This!</button>
          </div>

        </p>
          <p></p>
        
      </div>

       <div class = "row">
        <br>
        <br>
        <font size=6>
        <center>
          <br>
       <br>
          <p>
          {{ verdict }}
        </font>
</font>
       
         
          
          
</div>
{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}

{% block scripts %}
 

{% endblock %}
