{% extends "layout/base.html" %}

{% block head %}
  <link href="{{ url_for('static', filename='vendor/components-revealjs/css/theme/default.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

 <div class="well">
        <div class="slideshare-content">
          <div class="slideshare-embed-container">
         
<iframe src="//www.slideshare.net/slideshow/embed_code/36440209" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px 1px 0; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/mvtrotter/insight-demo-36440209" title="Insight Demo" target="_blank">Insight Demo</a> </strong> from <strong><a href="http://www.slideshare.net/mvtrotter" target="_blank">mvtrotter</a></strong> </div>
 </div>
        </div>
      </div>

   
  </div>
{% endblock %}

{% block scripts %}
  <!-- Presentation Libraries -->
  <script src="{{ url_for('static', filename='vendor/components-revealjs/lib/js/head.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/components-revealjs/js/reveal.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/reveal.js') }}"></script>
{% endblock %}
