{% extends "layout/base.html" %}

{% block head %}
  <link href="{{ url_for('static', filename='css/predict.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
  
    <div class="row">
        
            <br>
            <br>
            <br>
            <br>
   </div>
   <div class="row">

  <div class = "container">
    <table class = "table">
    <tr>
      <td></td>
      <td style="vertical-align: middle;"> <img src="/static/images/kickstarter_logo.png" width=300px></td>
      <td>  <img src="/static/images/indiegogoflat.jpeg" width=300px></td>
    </tr>
  <tr>
      <td><p class = "lead">Probability of successful funding:</p></td>
      <td>  {{(100*kickwin)|round(1)}}%</td>
      <td>{{(100*indiewin)|round(1)}}%</td>
    </tr>
<tr>
      <td><p class = "lead">Expected pledges</p></td>
      <td> ${{(kickcash)|round(2)}}</td>
      <td>${{(indiecash)|round(2)}}</td>
    </tr>
<tr>
  <td></td>
  <td>
              <div class="form-group">
            <form method = "POST" action = "/eval">
            <button type="submit" name = "button" value = "Kickstarter" class="btn btn-large btn-success" style="height:40px">Optimize This!</button>
         <!--  </form> -->
        </td>
        <!-- </div> -->
      <td>
        <!-- <div class = "form group">
        <form method = "POST" action = '/eval'> -->
            <button type="submit" name = "button" value = "Indiegogo" class="btn btn-large btn-success" style="height:40px">Optimize This!</button>
          </form></td>
        </div>
    </tr> 
</table>
</div>

</div>

<div class = "row">
  <div class = "container">

<table class = "table">
    <tr>
<td align = "center">
  {{verdict}}
</td>
      </tr>
    </table>

    </div></div>


<table class ="table">

  <div class="row">

  <div class = "container">
 
  </table>
</div>
</div>
         
          
          

{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}

{% block scripts %}
 

{% endblock %}
