{% extends 'layout/base.html' %}

{%block content%}
<div id="wrap">
    <div class="container">

        <p class="lead">
          Predicted probability of funding at Kickstarter: 50%!<br>
          Predict probability of success at Indiegogo: 75%!
        </p>
        <p>{{  userTitle }}</p>
      </div>

      <div id = "wrap">
  <div class = "container">
      <div id="table">
        <div class="table-responsive">
          <table class="table table-bordered table-condensed table-striped">
            <thead>
              <th>Project Title</th>
              <th>Category</th>
              <th>Goal</th>
              <th>Nlinks</th>
              <th>Tshirt</th>
            </thead>
            <tbody>
              {% for line in sort_settings['data'] %}
              <tr>
                <td>{{loop.index}}</td>
                <td class="{{line.project}}">{{line.category}}</td>
                <td>{{line.goal}}</td>
                <td>{{line.nlinks}}</td>
                <td>{{line.tshirt}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
<!-- <div class="container">{{form|string}}</div> -->
{%endblock%}
