{% extends "layout/base.html" %}

{% block head %}
  <link href="{{ url_for('static', filename='vendor/components-revealjs/css/theme/default.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="reveal">
  <div class="slides">
    <section class="" data-id="2392e51cecbb00fd5757c9320dc031f7">
        <h2>
            <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/484888/wheel.jpg" style="font-size: 32.2px; font-weight: bold; max-width: none; max-height: none; width: 535.4748098053511px; height: 400.75663215588804px;">
            </h2>
<div class="fragment" data-fragment-index="0">Big Art = Time + Love + $$$</div>
        </section>
        <section class="" data-id="c99d73f2d4fd7d079706378c07710aaf">
            <h1>
                <br>
            </h1>
<div>
            <br>
        </div>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/484884/kickorgologo.jpg">
        <br>
        <div>
            <br>
            </div>
<div>Optimize your crowdfunding campaign</div>
        </section>
        <section class="" data-id="7acd81721b42f6ccc63db5ce3a533dcd">
            <h2>The Challenge:</h2>
<div>
            <br>
            </div>
<div>Predict the success or failure of a crowdfunding campaign</div>
<div>BEFORE</div>
<div>you sign up</div>
        </section>
        <section class="" data-id="d85775587e5520be27a669bf777da044">
            <h2>The Data</h2>
<div>
            <br>
        </div>
<blockquote style="margin: 0px 0px 0px 40px; border: none; padding: 0px; position: absolute; width: 679px; height: 72px; z-index: 4; left: 199px; top: 133px;" class="absolute-element">
        <blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">
<div style="text-align: left; ">
        <span style="font-style: normal;">20 000 Kickstarter Campaigns</span>
    </div>
<div style="text-align: left; ">
    <span style="font-style: normal;">
        <span>20 000 Indiegogo Campaigns</span>
        <br>
    </span>
</div>
</blockquote>
</blockquote>
<div>
<br>
</div>
<div>
<br>
</div>
<div>
<br>
</div>
<div>
<br>
</div>
<div>
<br>
</div>
<div>
<br>
</div>
<h2 class="absolute-element" style="position: absolute; width: 300px; height: 32px; z-index: 4; left: 365px; top: 259px;">
<b>THE MODELS</b></h2>
<blockquote>
<b style="font-style: normal;">Fit random forest predictors for each site</b>
</blockquote>
<blockquote>
<b style="font-style: normal;">Available features:</b>
<b style="font-style: normal;">Campaign category, funding goal, campaign duration, funder perks, number of facebook friends, number videos, pictures and external links</b>
</blockquote>
<br>
</section>
<section class="" data-id="65c6280c31ed1453aa8431a3823e80bd">
    <h2>Analytics</h2>
<div class="absolute-element" style="position: absolute; width: 477px; height: 332px; z-index: 4; left: 496px; top: 294px;">
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/484922/pasted-from-clipboard.png">
<br>
</div>
<div class="absolute-element" style="position: absolute; width: 477px; height: 332px; z-index: 4; left: -14px; top: 298px;">
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/484919/indieplot.png">
<br>
</div>
</section>
<section class="" data-id="e016660a2bae30112966a229e86fc6ce">&nbsp;<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/485002/figure1.jpg" style="width: 253.63091127930215px; height: 298.50841330206595px; max-height: none; max-width: none; position: absolute; z-index: 4; left: 669px; top: 237px;" class="absolute-element">
    <blockquote style="margin: 0px 0px 0px 40px; border: none; padding: 0px; position: absolute; width: 679px; height: 186px; z-index: 6; left: -107px; top: 320px;" class="absolute-element">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/484967/flies.jpeg" style="width: 200.12110735773354px; height: 149.94280208677978px; max-height: none; max-width: none; background-color: rgb(17, 17, 17);">
    </blockquote>
    <h2 class="absolute-element" style="position: absolute; width: 50px; height: 0px; z-index: 7; left: 191px; top: 51px;">
        <blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">
            <br>
        </blockquote>
    </h2>
    <h2 class="absolute-element" style="position: absolute; width: 456px; height: 235px; z-index: 4; left: 270px; top: 12px;">Meredith Trotter</h2>
    <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/484941/ferris.jpeg" class="absolute-element" style="position: absolute; max-height: none; max-width: none; width: 255.36460046993142px; height: 190.34948106015568px; z-index: 10; left: 666px; top: 35px;">
    <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/484946/Polar_Bear_relaxing.jpg" style="width: 200px; height: 134px; max-height: none; max-width: none; position: absolute; z-index: 11; left: 23px; top: 106px;" class="absolute-element">
    <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/484947/darwin-i-think-43863-1.jpg" class="absolute-element" style="position: absolute; max-height: none; max-width: none; width: 193.2142042901343px; height: 182.73241070260087px; z-index: 12; left: 448px; top: 468px;">
    <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/484948/otago.jpeg" class="absolute-element" style="position: absolute; max-height: none; max-width: none; width: 239.23298740386963px; height: 119.23298740386963px; z-index: 13; left: 706px; top: 565px;">
    <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/484949/stanford_logo.jpeg" class="absolute-element" style="position: absolute; max-height: none; max-width: none; width: 456px; height: 118px; z-index: 14; left: -55px; top: 570px;">
    <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/484973/Mer_headshot_cropped.jpg" style="width: 164px; height: 216px; max-height: none; max-width: none; position: absolute; z-index: 4; left: 413px; top: 69px;" class="absolute-element">
</section>
</div>

   
  </div>
{% endblock %}

{% block scripts %}
  <!-- Presentation Libraries -->
  <script src="{{ url_for('static', filename='vendor/components-revealjs/lib/js/head.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/components-revealjs/js/reveal.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/reveal.js') }}"></script>
{% endblock %}
