{% extends "layout/base.html" %}

{% block head %}
  <link href="{{ url_for('static', filename='vendor/components-revealjs/css/theme/default.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="reveal">

<div class="slides">
    <section class="" data-id="c99d73f2d4fd7d079706378c07710aaf" data-background-color="rgba( 0, 0, 0, 0.6 )">
        <p class="absolute-element" style="position: absolute; width: 203px; height: 35px; z-index: 4; left: 366px; top: 590px;">
            <font style="font-size: 32px;">Meredith Trotter</font>
        </p>
<div>
        <br>
    </div>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/484884/kickorgologo.jpg">
    <br>
    <div class="absolute-element fragment" style="position: absolute; width: 506px; height: 155px; z-index: 4; left: 444px; top: 416px;" data-fragment-index="0">
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/494305/indiegogoflat.jpeg">
    <br>
</div>
<div class="absolute-element" style="position: absolute; width: 751px; height: 177px; z-index: 4; left: 123px; top: 278px;">Optimize your crowdfunding campaign</div>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/490178/kickstarter_logo_blackback.jpg" style="width: 419.2985166693611px; height: 221.36363643588442px; max-height: none; max-width: none; position: absolute; z-index: 4; left: 8px; top: 345px;" class="absolute-element fragment" data-fragment-index="1">
</section>
<section class="" data-id="b7236f351f17ea4d843deb0a37236bc1" data-background-color="rgba( 0, 0, 0, 0.6 )">&nbsp;<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/491996/kickstarter_logo_blackback.jpg" class="absolute-element" style="position: absolute; max-height: none; max-width: none; width: 455.65349566537924px; height: 241.33827865221423px; z-index: 4; left: -4px; top: -92px;">
    <h2 class="absolute-element" style="position: absolute; width: 406.9493414387032px; height: 153px; z-index: 4; left: 556px; top: -2px; max-height: none; max-width: none;">
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/494306/indiegogoflat.jpeg">
    <br>
</h2>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/491984/Screen_Shot_2014-06-26_at_7.59.48_AM.png" class="absolute-element" style="position: absolute; max-height: none; max-width: none; width: 435.235848172078px; height: 739.3383994141127px; z-index: 4; left: 4px; top: 86px;">
    <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/491985/Screen_Shot_2014-06-26_at_8.00.15_AM.png" class="absolute-element" style="position: absolute; max-height: none; max-width: none; width: 401.5987844191786px; height: 727.9487364281085px; z-index: 4; left: 556px; top: 83px;">
</section>
<section class="" data-id="7acd81721b42f6ccc63db5ce3a533dcd" data-background-color="rgba( 0, 0, 0, 0.6 )">
    <h2 class="absolute-element" style="position: absolute; width: 299px; height: 32px; z-index: 6; left: 326px; top: 191px;">The Challenge:</h2>
<div>
<br>
</div>
<div class="absolute-element" style="position: absolute; width: 690px; height: 36px; z-index: 7; left: 120px; top: 255px;">Predict the success or failure of a crowdfunding campaign</div>
<div class="absolute-element" style="position: absolute; width: 111px; height: 36px; z-index: 8; left: 412px; top: 337px;">BEFORE</div>
<div class="absolute-element" style="position: absolute; height: 36px; z-index: 4; left: 325px; top: 412px;">you choose your platform</div>
</section>
    <section class="" data-id="d85775587e5520be27a669bf777da044">
        <h2>
    <span style="background-color: rgb(0, 0, 0);">The Data</span>
</h2>
<div>25 000+ Kickstarter campaigns</div>
<div>25 000+ Indiegogo campaigns</div>
<div>
        <br>
    </div>
<div>Features:</div>
<div>
    <br>
</div>
<div>
<ul>
<li>Funding goal</li>
<li>Category</li>
<li>Videos, Pictures</li>
<li>Links</li>
<li>Perks</li>
</ul>
</div>


</section>
<section class="" data-id="65c6280c31ed1453aa8431a3823e80bd">
    <h2>Findings</h2>
<div>Important features:</div>
<div class="absolute-element" style="position: absolute; height: 36px; z-index: 4; left: 65px; top: 128px; width: 322px; max-height: none; max-width: none;">
<b>
Kickstarter</b>
    <br>
    Number of facebook friends
    <br>
    Funding goal &nbsp; &nbsp;&nbsp;<br>
    Links, Perks?
<br>
</div>
<div class="absolute-element" style="position: absolute; height: 36px; z-index: 4; left: 554px; top: 140px;">
<b>
Indiegogo</b>
<br>
Funding goal&nbsp;<br>Links, Videos, Pictures&nbsp;<br>Perks:&nbsp;<span>Can I get a tshirt?</span>
</div>
<div class="absolute-element" style="position: absolute; width: 477px; height: 332px; z-index: 4; left: -12px; top: 301px;">
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/487416/kick_features.png">&nbsp;<br>

    Cross-val = 0.83
</div>
<div class="absolute-element" style="position: absolute; width: 477px; height: 332px; z-index: 4; left: 476px; top: 300px;">
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/487476/indie_features.png">
<br>Cross-val = 0.7
<br>
</div>






</section>
    <section class="" data-id="42a792a18e42b2201de4ef51a103871f">&nbsp;<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/492001/kicks_class.png" class="absolute-element" style="position: absolute; max-height: none; max-width: none; width: 439px; height: 439px; z-index: 4; left: 228px; top: 130px;">
        <h2 class="absolute-element" style="position: absolute; width: 967px; height: 39.50239550636047px; z-index: 4; left: -16px; top: 66px; max-height: none; max-width: none;">Should they have kicked?</h2>
</section>
        <section class="" data-id="697f548e03f01bc11b31c9127e99f3b6">&nbsp;<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/492218/indiefundplot.png" class="absolute-element" style="position: absolute; max-height: none; max-width: none; width: 459.46161430924735px; height: 456.91894652657476px; z-index: 4; left: 253px; top: 120px;">
            <h2 class="absolute-element" style="position: absolute; width: 746px; height: 34.458966565349556px; z-index: 4; left: 124px; top: 47px; max-height: none; max-width: none;">Who gets overfunded?</h2>
        </section>
        <section class="" data-id="e016660a2bae30112966a229e86fc6ce">&nbsp;<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/485002/figure1.jpg" style="width: 253.63091127930215px; height: 298.50841330206595px; max-height: none; max-width: none; position: absolute; z-index: 4; left: 661px; top: 170px;" class="absolute-element">
            <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/484947/darwin-i-think-43863-1.jpg" class="absolute-element" style="position: absolute; max-height: none; max-width: none; width: 251.3720554181397px; height: 236.45795361877333px; z-index: 12; left: 86px; top: 188px;">
            <blockquote style="margin: 0px 0px 0px 40px; border: none; padding: 0px; position: absolute; width: 679px; height: 186px; z-index: 6; left: -107px; top: 320px;" class="absolute-element">
                <br>
            </blockquote>
<h2 class="absolute-element" style="position: absolute; width: 50px; height: 0px; z-index: 7; left: 191px; top: 51px;">
            <blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">
                <br>
            </blockquote>
        </h2>
<h2 class="absolute-element" style="position: absolute; width: 456px; height: 235px; z-index: 4; left: 270px; top: 12px;">Meredith Trotter</h2>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/484941/ferris.jpeg" class="absolute-element" style="position: absolute; max-height: none; max-width: none; width: 255.36460046993142px; height: 190.34948106015568px; z-index: 10; left: 384px; top: 346px;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/484948/otago.jpeg" class="absolute-element" style="position: absolute; max-height: none; max-width: none; width: 239.23298740386963px; height: 119.23298740386963px; z-index: 13; left: 706px; top: 565px;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/484949/stanford_logo.jpeg" class="absolute-element" style="position: absolute; max-height: none; max-width: none; width: 456px; height: 118px; z-index: 14; left: -55px; top: 570px;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/mtrotter/images/484973/Mer_headshot_cropped.jpg" style="width: 164px; height: 216px; max-height: none; max-width: none; position: absolute; z-index: 4; left: 413px; top: 69px;" class="absolute-element">
    </section>
</div>

   
  </div>
{% endblock %}

{% block scripts %}
  <!-- Presentation Libraries -->
  <script src="{{ url_for('static', filename='vendor/components-revealjs/lib/js/head.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/components-revealjs/js/reveal.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/reveal.js') }}"></script>
{% endblock %}
